<h3>Log in</h3>
<div class="row">
    <div class="col-md-12 text-center">
        <section>
            <h4></h4>
            <hr />
            @{
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                    <div>
                        <p>
                            <button type="submit" class="btn btn-primary main-bg-color" style="height: 80px; font-size: 20px" name="provider" value="Facebook" title="Log in using your Facebook account">
                                <i class="fa fa-facebook"></i>
                                Using Facebook
                            </button>
                        </p>
                    </div>
                </form>
            }
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
