
@using System.Threading.Tasks
@using ResumeMaker.Common.Extensions
<div class="col-sm-12">

    Search for someone.
    Home Page under development. 
    
</div>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
