@using ResumeMaker.Common.Extensions
@model ResumeMaker.Data.Models.Core.Summary

<div id="SummaryViewWrapper" class="form-toggle-wrapper col-sm-12">
    <div id="SummaryView" class="form-toggle">
        <h3>
            Summary
            <small>
                <a class="btn btn-link form-toggle-button">
                    <i class="fa fa-pencil-square-o">
                    </i>
                </a>
            </small>
        </h3>


        @if (Model != null)
        {
        <p id="Summary">
            @Model.SummaryText
        </p>
        }
        else
        {
        <a class="btn btn-link form-toggle-button">Add Summary</a>
        }
    </div>
    <div id="SummaryForm" style="display: none" class="form-toggle">
        <form asp-controller="Home" asp-action="SaveUpdateSummary" asp-route-id="@Model?.Id" asp-route-returnUrl="@Url.Action("Index", "Home")" method="POST" class="form form-horizontal" role="form">
            @{
                var formFunction = Model?.IsNew != null ? "Update" : "Add";
            }
            <fieldset>
                <legend>Add Summary</legend>
                <input type="hidden" asp-for="UserId" value="@User.GetId()"/>
                <div class="form-group">
                    <label asp-for="SummaryText" class="col-sm-2 control-label"></label>
                    <div class="col-sm-6">
                        <textarea asp-for="SummaryText" class="form-control"></textarea>
                        <span asp-validation-for="SummaryText" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="@formFunction" class="btn btn-default main-bg-color"/>
                        <button value="refresh" asp-refresh class="btn btn-default main-bg-color refresh"></button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
  
</div>