@using System.Threading.Tasks
@using ResumeMaker.Controllers
@model IEnumerable<ResumeMaker.Data.Models.Core.JobDescription>


@if (Model.Any())
{
    <div id="JobDescriptionViewWrapper" class="form-toggle-wrapper col-sm-12">
        <strong>Roles & Responsibilities</strong>
        <a style="cursor: pointer" id="AddJobDescriptionAnchor"
        asp-get-form-ajax="true"
        asp-get-form-controller-type=@typeof(ExperienceController)
        asp-get-form-action="@nameof(ExperienceController.GetFormForJobDescriptionSaveAndUpdate)"
        data-get-form-params ="@Newtonsoft.Json.JsonConvert.SerializeObject(new { id = 0, experienceId = ViewData["ExperienceId"] })"
        data-target-element-id="JobDescriptionViewWrapper">
        <i class="fa fa-plus"></i>
        </a>
        <ul>
            @foreach (var jobDescription in Model)
            {
                <li>
                    @jobDescription.Description
                    <form asp-controller="Experience" asp-action="Delete" asp-route-id="@jobDescription.Id" method="POST">
                        <button type="submit"></button>
                    </form>
                </li>
            }
        </ul>
    </div>
}
