@model ResumeMaker.ViewModels.DeleteActionViewModel

@if (Model.IsVisible)
{
    <form asp-action="@Model.ActionName" style="display: inline" asp-controller="@Model.ControllerName" method="POST" role="form" class="form form-inline" asp-route-id="@Model.RecordId" asp-route-returnUrl="@Model.ReturnUrl">
        <button class="btn btn-link confirm-form-post" type="submit" style="padding-left: 5px">
            <i class="fa fa-remove" title="Delete this education record."></i>
        </button>

    </form>
}